@inject IJSRuntime JSRuntime
@using ConnectNow.Domain.Models.MVC
@using ConnectNow.Models
@using ConnectNow.Views
@using Plugin.Firebase.CloudMessaging
@inject EmailRegistrationRequestValidator emailValidator
@inject ICNApiService apiService
@inject IJSRuntime JSRuntime
@inject IThemeManager themeManager
@inject ILocalCache localCache
@using ConnectNow.RazorViews.Components 

<div class="d-flex flex-column">

    <!--\/header START\/-->
    <header class="nofoot fixed-top d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between shadow py-lg-1">
      <div class="container d-flex flex-row justify-content-between">

        <!--\/LOGO START\/-->
        <a href="" class="logo d-none d-lg-block mb-2 mb-lg-0">
          <img src="img/logo-dark.svg" onerror="this.src='img/logo-dark.png'" alt="All About Local" style="height: 42px;" />
        </a> <!--/\LOGO END/\-->

        <!--\/DropDown Categories START\/-->
        <div class="btn-group d-none d-lg-none align-self-start ms-lg-4 ms-xl-5 mt-auto mb-1">
          <button class="btn btn-primary btn-sm dropdown-toggle rounded-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">All Categories</button>
         
        </div> <!--/\DropDown Categories END/\-->

        <!--\/Navigation START\/-->
        <ul class="nav nav-foot d-flex flex-row flex-nowrap flex-lg-wrap justify-content-lg-end align-content-lg-between flex-lg-fill shadow mt-auto mt-lg-0">
          <li class="d-none d-lg-none">
            <a href="" class="nav-link d-flex flex-column flex-lg-row justify-content-between align-items-center column-gap-1 pb-1 pb-lg-2 px-2"> <img src="img/directory.svg" alt="Directory" /> Directory</a>
          </li>
          <li class="d-none d-lg-none">
            <a href="" class="nav-link d-flex flex-column flex-lg-row justify-content-between align-items-center column-gap-1 pb-1 pb-lg-2 px-2"> <img src="img/events.svg" alt="Events" class="me-lg-1" /> Events</a>
          </li>
          <li class="d-none d-lg-none">
            <a href="" class="nav-link d-flex flex-column flex-lg-row justify-content-between align-items-center column-gap-1 pb-1 pb-lg-2 px-2"> <img src="img/favorites.svg" alt="Favorites" /> Favorites</a>
          </li>
          <li class="d-none d-lg-none">
            <a href="" class="nav-link d-flex flex-column flex-lg-row justify-content-between align-items-center column-gap-1 pb-1 pb-lg-2 px-2"> <img src="img/map.svg" alt="Map" /> Map</a>
          </li>
          <!--\/More DropUp START\/-->
          <li class="d-none d-lg-none dropup">
            <a href="" class="nav-link text-decoration-none dropdown-toggle d-flex flex-column flex-lg-row justify-content-between align-items-center column-gap-1 pb-1 pb-lg-2 px-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMore" aria-controls="offcanvasMore"> <img src="img/more.svg" alt="More" /> More</a>
           <div id="offcanvasMore" class="offcanvas offcanvas-bottom rounded-4 rounded-bottom-0 shadow" tabindex="-1">
              <div class="offcanvas-body">
              </div>
            </div>
          </li> <!--/\More DropUp END/\-->
          <li class="d-none d-lg-none mx-2"><a href="register.html" class="btn btn-primary btn-sm align-self-center rounded-3 px-3">Create Account</a></li>
          <li class="d-none d-lg-block ms-2 me-1">
            <input id="darkModeButton" type="checkbox" class="btn-check" checked />
            <label class="btn btn-dark" for="darkModeButton"></label>
          </li>
          <li class="d-none d-lg-none w-100"></li>
          <li class="d-none d-lg-none"><a href="" class="nav-link px-2">Local Membership</a></li>
          <li class="d-none d-lg-none"><a href="" class="nav-link px-2">Local Advertising</a></li>
          <li class="d-none d-lg-none"><a href="" class="nav-link px-2">Local Fundraising</a></li>
          <li class="d-none d-lg-none"><a href="" class="nav-link px-2">Where to Buy</a></li>
        </ul> <!--/\Navigation END/\-->

      </div> <!--/\.container/\-->
      <!--\/Mobile TOP START\/-->
      <div id="mob_top" class="d-flex d-lg-none flex-row flex-nowrap justify-content-between align-items-center text-light lh-1 w-100 shadow">
            <a href="subscription.html" class="d-flex fs-5 link-light ms-1 me-3 p-2" @onclick="GoBack"> <i class="bi bi-chevron-left"></i> </a>
        <div class="d-none fs-4 text-center text-truncate lh-lg me-auto">eCommerce</div>
        <div class="d-none">
          <a href="" class="link-light mx-1 p-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch"> <i class="bi bi-search"></i> </a>
          <div id="offcanvasSearch" class="offcanvas offcanvas-top" tabindex="-1">
            <div class="offcanvas-body p-1 px-2">
              <button type="button" class="btn-close position-absolute end-0 me-1 p-3" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            
            </div>
          </div>
        </div>
      </div> <!--/\Mobile TOP END/\-->
    </header> <!--/\header END/\-->
 
    <!--\/main content START\/-->
    <main class="flex-shrink-0 mb-0">
      <div class="container-fluid">

        <div class="row justify-content-center">
          <div class="col-lg-5 d-none d-lg-block vh-100 bg-no-repeat bg-size-cover bg-position-center p-0" style="background-image:url('img/login-bg.jpg');"></div>
          <div class="col-lg-7 d-flex align-items-center vh-100">
            <div class="card shadow-none border-0 ms-auto me-auto login-card">
              <div class="card-body text-left pt-0">
                <h3 class="login d-block d-lg-block mb-2">eCommerce</h3>
                <h6 class="text-center text-body-emphasis fs-6">Account Information</h6>
                @* <small class="d-flex justify-content-between align-items-center border-top border-bottom my-3 py-2">Subscription's Validity till: <span class="text-success fw-bold fs-6">09/28/2025</span></small> *@

                  <small class="d-block text-center mb-2">If you have a discount code, please enter it now!</small>
                     <div class="input-group mb-2">
                       <div class="form-floating">
                          <input @bind="discountcode" id="discountCode" class="form-control" type="text" placeholder="Discount Code" />
                          <label for="discountCode">Discount Code:</label>
                       </div>
                           <button @onclick="GetDiscount" id="button-addon2" class="btn btn-secondary px-4" type="button">Apply</button>
                     </div>
                 
                  <EditForm EditContext="_editContext" OnValidSubmit="SubmitForm">
                            <FluentValidationValidator />


             @*      <small class="d-block text-center mb-2">If you have a member code, please enter it now!</small>
                  <div class="input-group mb-3">
                    <div class="form-floating">
                      <input @bind=membershipCode id="memberCode" class="form-control" type="text" placeholder="Member Code" />
                      <label for="memberCode">Member Code:</label>
                    </div>
                    <button id="button-addon2" class="btn btn-secondary px-4" type="button">Apply</button>
                  </div> *@

                  <small class="d-block text-center mb-2">Secure Payment Process <br /> <img src="img/secure_payment.svg" alt="Secure Payments" /> </small>
                  <div class="form-floating mb-2">
                    <InputText @bind-Value="ecomDetail.CardName" placeholder="Name on Card."
                      type="text" name="" id="formNameOnCard" class="form-control" />
                       <ValidationMessage For="@(() => ecomDetail.CardName)" />
                    <label for="username">Name on Card.</label>
                  </div>
                  <div class="form-floating mb-2">
                     <InputText @bind-Value="ecomDetail.CardNumber" placeholder="Credit Card No."
                       type="text" name="" id="formNameOnCard" class="form-control" />
                       <ValidationMessage For="@(() => ecomDetail.CardNumber)" />
                       <label for="username">Credit Card No.</label>
                    </div>
                  <div class="row row-cols-3 gx-0">
                    <div class="col-8 form-floating mb-3">
                                    @*     <input type="date"
                                               value="@expiryDateString"
                                               @onchange="OnExpiryDateChanged"
                                               id="formExpiration"
                                               class="form-control"
                                               placeholder="Card Expiry" /> *@
                                        <MonthYearPicker Years="10"
                                                         OnChanged="HandleChanged"
                                                         OnSaved="HandleSaved" />

                      <label for="formExpiration">Card Expiry:</label>
                    </div>
                    <div class="col form-floating mb-3">
                                        <InputText @bind-Value="ecomDetail.CardCCCode" placeholder="CVV"
                                                   type="text" name="" id="formCardCCCode" class="form-control" />
                                        <ValidationMessage For="@(() => ecomDetail.CardCCCode)" />
                      <label for="formCVV">CVV:</label>
                    </div>
                  </div>

                  <div class="form-floating mb-2">
                    <InputText @bind-Value="ecomDetail.ZipCode" placeholder="Billing Zip"
                      type="text" name="" id="formNameOnCard" class="form-control" />
                       <ValidationMessage For="@(() => ecomDetail.ZipCode)" />
                        <label for="username">Billing Zip</label>
                  </div>

                                <div class="text-success text-end fw-bold mb-1 ecom_amount">
                                    $@MainAmount<sup>.@DecimalPart</sup>
                                </div>


                  <small class="form-check d-block text-left mb-2">
                    <input id="termsCheck" class="form-check-input" type="checkbox" />
                    <label for="termsCheck" class="">I agree to AllAboutLocal's <a href="" class="fw-bold">Terms of Services</a> and <a href="" class="fw-bold">Privacy Policy</a>, including the processing of your personal data.</label>
                  </small>

                  <div class="d-grid mt-3">
                    <button @onclick="Submit" class="btn btn-secondary btn-lg" type="submit">Submit</button>
                  </div>

               </EditForm>

              </div>
            </div>
          </div>
        </div>
      
      </div>
    </main> <!--/\main content END/\-->
</div>

@code {

    private string _selectedText = "";

    private Task HandleChanged(MonthYearPicker.MonthYearChangedArgs e)
    {
        ecomDetail.CardExpMonth = e.Month.ToString();
        ecomDetail.CardExpYear = e.Year.ToString();
        // _selectedText = $"Live: {e.Month:D2}/{(e.Year % 100):D2}";
        // // do anything live (e.g., enable/disable submit, prefetch data, etc.)
        return Task.CompletedTask;
    }

    private Task HandleSaved(MonthYearPicker.MonthYearChangedArgs e)
    {
        ecomDetail.CardExpMonth = e.Month.ToString();
        ecomDetail.CardExpYear = e.Year.ToString();

        return Task.CompletedTask;
    }
    private string expiryDate { get; set; }
    private string expiryDateString { get; set; }
    private EcomerceModel ecomDetail = new EcomerceModel();

    private EditContext _editContext = default!;


    public AALUser _user { get; set; } = default!;

    private bool isTersmCheck { get; set; }

    private string? discountcode { get; set; } = "";
    private string? membershipCode { get; set; } = "";


    private UserSubscriptionPlaneItem PlanItem = new UserSubscriptionPlaneItem();


    private bool isbusy { get; set; }
    public string? UserSubscriptionPlanKey { get; set; }

    public string? Message { get; set; }

    public string? Fee { get; set; }
    private string price;
    private string MainAmount ;
    private string DecimalPart;
    private void OnExpiryDateChanged(ChangeEventArgs e)
    {
        expiryDateString = e.Value?.ToString();

        if (DateTime.TryParse(expiryDateString, out var parsedDate))
        {
            ecomDetail.CardExpMonth = parsedDate.Month.ToString();
            ecomDetail.CardExpYear = parsedDate.Year.ToString();
        }

    }
    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(ecomDetail);
        _editContext.SetFieldCssClassProvider(new BootstrapCssClassProvider());

        themeManager.Register(this, JSRuntime);
        var theme = Preferences.Get(StringConstants.UserTheme, null);
        // If the theme is null, pass AppTheme.Unspecified, otherwise pass dark or light theme.
        themeManager.UpdateAppTheme(
            string.IsNullOrEmpty(theme) ? AppTheme.Unspecified : (theme == "dark" ? AppTheme.Dark : AppTheme.Light)
        );

        UserSubscriptionPlanKey = Preferences.Get(StringConstants.SelectedPlanKey, "");
        membershipCode = App.DiscountCode;

        PlanItem = await localCache.GetCacheItem<UserSubscriptionPlaneItem>(StringConstants.SelectedPlanKey);
        price = PlanItem.Fee.ToString();
        SetPrice();
        base.OnInitialized();
    }

    private async void SetPrice()
    {
        if (price.Contains('.'))
        {
            var parts = price.Split('.');
            MainAmount = parts[0];
            DecimalPart = parts[1].PadRight(2, '0');
        }
        else
        {
            MainAmount = price;
            DecimalPart = "00";
        }
        await this.InvokeAsync(StateHasChanged);
    }

    private void Submit()
    {
        var hhh = expiryDate;
    }
    private async void SubmitForm()
    {


        try
        {

            SubscriptionTransactionRequest subscriptionTransactionRequest = new SubscriptionTransactionRequest(App.CurrentUser.UserKey.ToString(), UserSubscriptionPlanKey, ecomDetail.CardName, ecomDetail.CardNumber, ecomDetail.CardExpMonth, ecomDetail.CardExpYear, ecomDetail.CardCCCode, ecomDetail.ZipCode, App.DiscountCode);
            var result = await apiService.UserSubscriptionTransactionDirect(subscriptionTransactionRequest);
            if (result.Success)
            {
                await GetSubscription();
                await Shell.Current.GoToAsync("//HomePage");
            }
            else
            {
                await Application.Current.MainPage.DisplayAlert("Error", result.Message, "OK");


            }
        }
        catch(Exception ex)
        {

        }

    }

    private async Task GetSubscription()
    {
        try
        {
            var userSubscriptionPlanRequest = new UserSubscriptionPlanRequest(App.CurrentUser.UserKey);
            var output = await this.apiService.AppUsersActiveSubscription(userSubscriptionPlanRequest);
            if (output.Success && output.Data != null && output.Data.Count > 0)
            {
                var Plandetails = output.Data[0];
                App.PlanDetails.IsActive = Plandetails.IsActive;
            }
        }
        catch (Exception ex)
        {

        }

    }

    private async void GetDiscount()
    {


        try
        {
            ApiResult<UserSubscriptionPlaneItem> apiResult = null;
            apiResult = await this.apiService.GetAppUserSubscriptionPlan(new GetPlanRequest(discountcode, UserSubscriptionPlanKey));
            if (apiResult.Success)
            {
                PlanItem = apiResult.Data;
                App.DiscountCode = discountcode;

                price = apiResult.Data.TotalFee.ToString();
                SetPrice();
                if (PlanItem.TotalFee == 0)
                {
                  //  IsMessageShowing = true;
                    switch (PlanItem.BillingCycle)
                    {
                        case 1:
                            Message = "Month";
                            break;
                        case 6:
                            Message = "6 Month";
                            break;
                        case 12:
                            Message = "Year";
                            break;
                        default:
                            // code block
                            break;
                    }
                }
            }
        }
        catch (Exception ex)
        {
        }
    }
    public async Task GoBack()
    {
        await Shell.Current.GoToAsync("..");
    }
}
