@using ConnectNow.Views
@inject ILocalCache localCache

<!-- ================= Card ================= -->

@if (IsGridView)
{
    <li class="card">
        <a href=""
           @onclick="@(async () => await OnItemCardClick(Business))">
            <h6 class="card-title text-truncate">@Business.Name</h6>
            <div class="card-inner">
                <div class="card-img"
                     style="background-image: url('@Business.ProfileImagePath');"></div>
                <div >
                    <div class="card-loc text-truncate">
                        <i class="bi bi-geo-alt"></i>
                        @Business.City
                    </div>
                    <div class="card-offer">
                        @Business.ActiveOffersCount Offers
                    </div>
                </div>
            </div>
        </a>
    </li>
}

else
{
    <li class="card">
        <a href=""
           @onclick="@(async () => await OnItemCardClick(Business))">
            <div class="card-img"
                 style="background-image: url('@Business.ProfileImagePath');"></div>

            <div class="card-inner">
                <h6 class="card-title text-truncate">@Business.Name</h6>


                <div  >
                    <div class="card-loc text-truncate">
                        <i class="bi bi-geo-alt"></i>
                        @Business.City
                    </div>
                    <div class="card-offer">
                        @Business.ActiveOffersCount Offers
                    </div>
                </div>
            </div>
        </a>
    </li>
}


<!-- =============== /Card ================== -->
@code
{
    #region Parameters

    [Parameter, EditorRequired]
    public BusinessItem Business { get; set; } = null!;

    [Parameter, EditorRequired]
    public bool IsGridView { get; set; }


    #endregion

    #region Navigation

    private async Task OnItemCardClick(BusinessItem item)
    {
        var ite = IsGridView;
        var route = RouteHelper.BuildRoute(nameof(BusinessProfilePage),
          new Dictionary<string, string>
          {
                { "BusinessKeyweb", $"{item.BusinessKey},{item.Name}" }
          });

        await localCache.SaveItemInCache(LocalCacheKeys.BusinessItem(item.BusinessKey), item);

        await Shell.Current.GoToAsync(route);
    }

    #endregion
}
