

<div class="d-flex justify-content-between align-items-center gap-2 border-top border-bottom subcribe_plan">
    <i class="bi bi-stopwatch"></i>
    <label class="w-75 fw-bold fs-5 lh-sm lh-sm mt-1 mb-2 me-auto py-1" for="@PlanItem.UserSubscriptionPlanKey">
        @PlanItem.HeadingText <span class="d-block fs-6 fw-lighter">@PlanItem.Description</span>
    </label>
    <input id="@PlanItem.UserSubscriptionPlanKey" @onchange="OnChange" value="@PlanItem.UserSubscriptionPlanKey" class="form-check-input" name="radiogroupSubcribe" type="radio" checked="@PlanItem.SelectedPlan" />
</div>

@code {
    [Parameter, EditorRequired] public UserSubscriptionPlaneItem PlanItem { get; set; } = null!;
    [Parameter] public EventCallback<ChangeEventArgs> OnChange { get; set; }

}
